<div class="container">
  <div class="card mt-4">
    <div class="card-header text-center">
        <h3>Registartion Form Template Driven Form</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="handleSubmit()" [formGroup]="formRef">
        <div class="row g-0">
          <div class="col-md-6 mb-2">
              <div class="row">
                <div class="col-md-4 offset-1">
                  <label for="firstname" class="col-form-label">First Name</label>
                </div>
                <div class="col-md-4 offset-1">
                  <input type="text" id="firstname" class="form-control" formControlName="firstName">
                  <div class="text-danger" *ngIf="formRef.get('firstName').touched && formRef.get('firstName').invalid && !formRef.get('firstName').dirty">
                    please enter a first name
                  </div>
                  <div class="text-danger" *ngIf="formRef.get('firstName').touched && formRef.get('firstName').invalid && formRef.get('firstName').dirty">
                    first name contains min 3 char
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="lastname" class="col-form-label">Last Name</label>
              </div>
              <div class="col-md-4 offset-1">
                <input  type="text" id="lastname" class="form-control" formControlName="lastName">
                <div class="text-danger" *ngIf="formRef.get('lastName').touched && formRef.get('lastName').invalid">
                  please enter a last name
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="email" class="col-form-label">Email</label>
              </div>
              <div class="col-md-4 offset-1">
                <input   type="email" id="email" class="form-control" formControlName="email" >
                <div class="text-danger" *ngIf="formRef.get('email').touched && formRef.get('email').invalid">
                  please enter a valid email
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="password" class="col-form-label">Password</label>
              </div>
              <div class="col-md-4 offset-1">
                <input type="password" id="password" class="form-control" formControlName="password" >
                <div class="text-danger" *ngIf="formRef.get('password').touched && formRef.get('password').invalid">
                  please enter a password
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="mob" class="col-form-label">Mobile Number</label>
              </div>
              <div class="col-md-4 offset-1">
                <input type="text" id="mob" class="form-control" formControlName="mob" >
                <div class="text-danger" *ngIf="formRef.get('mob').touched && formRef.get('mob').invalid">
                  please enter a valid Mobile No.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="date" class="col-form-label">Date of birth</label>
              </div>
              <div class="col-md-4 offset-1">
                <input  type="date" id="date" class="form-control" formControlName="dob">
                <div class="text-danger" *ngIf="formRef.get('dob').touched && formRef.get('dob').invalid">
                  please enter/select dob
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label class="col-form-label">Select Gender</label>
              </div>
              <div class="col-md-4 offset-1 d-flex">
                <div *ngFor="let data of genderData" class="form-check me-1">
                  <input name="gender" class="form-check-input" [value]="data.value" type="radio"  [id]="data.id" formControlName="gender">
                  <label class="form-check-label" [htmlFor]="data.for">
                   {{data.label}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="country" class="col-form-label">Select Country</label>
              </div>
              <div class="col-md-4 offset-1">
                <select formControlName="country"  id="country" class="form-select" >
                  <option value="India">India</option>
                  <option value="US">US</option>
                  <option value="UK">UK</option>
                  <option value="Canada">Canada</option>
                </select>
                <div class="text-danger" *ngIf="formRef.get('country').touched && formRef.get('country').invalid">
                  please select a country from list
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="state" class="col-form-label">State</label>
              </div>
              <div class="col-md-4 offset-1">
                <input formControlName="state" type="text" id="state" class="form-control" >
                <div class="text-danger" *ngIf="formRef.get('state').touched && formRef.get('state').invalid">
                  please enter a State
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="street" class="col-form-label">Street/Address</label>
              </div>
              <div class="col-md-4 offset-1">
                <input formControlName="street" type="text" id="street" class="form-control">
                <div class="text-danger" *ngIf="formRef.get('street').touched && formRef.get('street').invalid">
                  please enter a address/street
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-4 offset-1">
                <label for="pincode" class="col-form-label">Pincode</label>
              </div>
              <div class="col-md-4 offset-1">
                <input formControlName="pincode" type="text" id="pincode" class="form-control" >
                <div class="text-danger" *ngIf="formRef.get('pincode').touched && formRef.get('pincode').invalid">
                  please enter a pincode
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <input [disabled]="formRef.invalid" class="btn btn-success" type="submit" value="Register"/>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="showContent" class="card mt-3">
    <div class="card-header text-center">
      <h3>Your Filled Info.</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          First Name : {{formData?.firstName}}
        </div>
        <div class="col-md-6">
          Last Name : {{formData?.lastName}}
        </div>
        <div class="col-md-6">
          Email : {{formData?.email}}
        </div>
        <div class="col-md-6">
          Password : {{formData?.password}}
        </div>
        <div class="col-md-6">
          Mobile No. : {{formData?.mob}}
        </div>
        <div class="col-md-6">
          Dob : {{formData?.dob}}
        </div>
        <div class="col-md-6">
          Gender : {{formData?.gender}}
        </div>
        <div class="col-md-6">
          Country : {{formData?.country}}
        </div>
        <div class="col-md-6">
          State : {{formData?.state}}
        </div>
        <div class="col-md-6">
          Street/Address : {{formData?.street}}
        </div>
        <div class="col-md-6">
          Pincode : {{formData?.pincode}}
        </div>
      </div>
    </div>
  </div>
</div>